.banner {
  background-image: url("../../assets/pessoaLivro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 88vh;
  display: flex;
  align-items: center;
  h2 {
    color: white;
    //border: solid 2px red;
    margin-left: 150px;
    font-size: 40px;
    width: 27vw;
  }
}

.devoDoar {
  height: 90vh;
  //border: solid blue;
  div {
    //border: solid yellow;
    height: 15vh;
    display: flex;
    align-items: center;
    h2 {
      font-size: 30px;
      margin-left: 60px;
      color: #005695;
    }
  }
}

.boxCard {
  //border: solid 4px black;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  article {
    //border: solid 2px blue;
    width: 17%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0157944d;
    border-radius: 10px;
    p {
      //border: solid red;
      text-align: center;
      width: 80%;
      font-size: 20px;
    }
  }
}

//---------------------------------------------------------------------------------------------------------------------------------------

@media (max-width: 395px) {
  .banner {
    background-size: 131vw 40vh;
    width: 120vw;
    height: 40vh;
    h2 {
      font-size: 26px;
      text-align: center;
      height: 16vh;
      width: 70vw;
      margin-left: 55px;
    }
  }
  .devoDoar {
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: baseline;
    div {
      padding-top: 6vh;
      height: 10vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      h2 {
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }
  }
  .boxCard {
    height: 120vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    article {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 73vw;
      height: 25vh;
      p {
        font-size: 15px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 396px) and (max-width: 676px) {
  .banner {
    height: 20vh;
    h2 {
      font-size: 50px;
    }
  }
  .devoDoar {
    border: solid 2px red;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      border: solid 2px red;
    }
  }
  .boxCard {
    border: solid 2px green;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    article {
      height: 200px;
      width: 200px;
    }
  }
}
