.boxDoados {
  //border: solid 2px red;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.boxCard {
  height: 60vh;
  width: 85vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  //border: solid 2px green;
  article {
    border: solid 2px #005695;
    width: 200px;
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 13px;
    img{
      padding-bottom: 20px;
      width: 30%;
    }
  }
}

//-----------------------------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 390px) {
  .boxDoados {
    height: 70vh;
    h2 {
      padding-top: 45px;
    }
  }
  .boxCard {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    width: 99vw;
    height: 70vh;
    article {
      width: 60vw;
      height: 31vh;
      display: flex;
      margin-left: 77px;
    }
  }
}
