.boxDoados {
  //border: solid 2px red;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  h2{
    height: 10vh;
    display: flex;
    align-items: center;
  }
}

.boxCard {
  min-height: 70vh;
  width: 85vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  //border: solid 2px green;
  article {
    border: solid 3px #005695;
    width: 200px;
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 13px;
    .titulo{
      font-weight: 780;
    }
    .categoria{
      font-style: normal;


    }
    .autor{
      font-style: italic;


    }

    img{  
      width: 40%;
    }
  }
}

//-----------------------------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 390px) {
  .boxDoados {
    height: 70vh;
    h2 {
      padding-top: 45px;
    }
  }
  .boxCard {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    width: 99vw;
    height: 70vh;
    article {
      width: 60vw;
      height: 31vh;
      display: flex;
      margin-left: 77px;
    }
  }
}
